
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}



/* Header */

header {
    width: 100%;
    height: 100px;
    padding: 15px clamp(10px, 5%, 30px);
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    position: absolute;
    z-index: 10;
}

.header-content {
    width: 100%;
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: none;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    font-weight: bold;
    color: white;
    margin-left: 10%;
}

#indiegogo {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 8px 15px;
}

header img {
    height:40px;
}

@media screen and (min-width: 750px) {

    nav {
        display: flex;
    }

    header img {
        display: none;
    }
}


/* Banner */

#banner {
    height: calc(100vh + 100px);
    min-height: 700px;
    max-height: 150vw;
    background-image: url(./assets/high-res-banner.png);
    background-position: 50% 10%;
    background-size: 200%;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
    overflow: hidden;
    position: relative;
}

#banner p {
    color: white;
    font-weight: bold;
    font-size: clamp(10px, 7vw, 40px);
    width: clamp(100px, 65%, 500px);
    position: absolute;
    left: 56%;
    top: clamp(50px, 40vw, 250px);
    transform: translate(-50%,-50%);
}


@media screen and (min-width: 500px) {

    #banner {
        background-size: clamp(100px, 170%, 1800px);
    }
}

@media screen and (min-width: 750px) {

    #banner {
        background-position: 30% 45%;
    }

    #banner p {
        top: clamp(300px, 40vw, 300px);
        left: clamp(300px, 25%, 1000px);
    }
}

@media screen and (min-width: 1800px) {

    #banner {
        background-size: 100vw;
    }
}


/* Mission */

#mission {
    width: 100%;
    max-width: calc(1200px + 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

#mission img, .mission-text {
    width: 80%;
    margin: 30px 0;
}

.mission-text h2 {
    width: 250px;
    padding-left: 15px;
    border-left: 6px solid rgb(104, 192, 104);
}

.stylish {
    color: rgb(104, 192, 104);
}

.mission-text p {
    margin-top: 30px;
    line-height: 1.5;
}

@media screen and (min-width: 900px) {

    #mission {
        flex-direction: row;
        justify-content: center;
        padding: 0 5%;
    }

    #mission img {
        width: 50%;
    }

    .mission-text {
        width: 40%;
        margin-left: 50px;
    }

}


/* Models */

#models {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#models h2 {
    margin-bottom: 80px;
}

.model {
    width: 80%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.model img {
    width: 100%;
    border-radius: 50%;
}

.model h3 {
    font-size: 28px;
    margin: 40px 0 20px;
}

.model p {
    line-height: 1.5;
}

@media screen and (min-width: 750px) {

    .model {
        flex-direction: row-reverse;
        justify-content: center;
        max-width: 1200px;
    }

    .model img {
        width: 50%;
        max-width: 400px;
        margin-left: 80px;
    }

    .model-text {
        width: 40%;
    }
}


/* Technical Specs */

#specs h2 {
    text-align: center;
    margin: 50px 0;
}

#specs p {
    width: 80%;
    max-width: 950px;
    margin: 40px auto 80px; 
    line-height: 1.5;
}

.specs-slideshow {
    background-color: #2b2b2b;
    padding: 40px 10%;
}

.specs-slideshow-content {    
    padding: 0 15%;
    position: relative;
}

.specs-slideshow-content figure img {
    width: 100%;
}

.specs-slideshow-content figcaption {
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
    color: white;
}

.arrow-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.arrow-btns button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.arrow-btns button img {
    height: 7vw;
    filter: invert();
}

.prev img {
    transform: rotate(90deg);
}

.next img {
    transform: rotate(270deg);
}

@media screen and (min-width: 750px) {

    #specs {
        width: 80%;
        max-width: 950px;
        margin: 0 auto;
    }

    #specs p {
        width: 100%;
        max-width: none;
        margin: 0; 
    }

    .specs-slideshow {
        width: 50%;
        padding: 0 3% 30px 0;
        float: left;
        background-color: transparent;
    }

    .specs-slideshow-content {    
        padding: 0 60px;
    }

    .arrow-btns button img {
        width: 50%;
        height: auto;
        filter: none;
    }

    .specs-slideshow-content figcaption {
        color: black;
    }
}


/* Our Story */

#story {
    font-size: 0;
    margin: 50px 0;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
    overflow: hidden;
}

#story h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 20px;
}

#story img {
    width: 100%;
    margin: 0;
}

.story-content {
    background-color: #2b2b2b;
    padding: 40px 10% 150px;
}

#story p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
    color: white;
}

#story button {
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    padding: 12px 20px;
    border: none;
    margin-top: 40px;
}

@media screen and (min-width: 750px) {

    #story {
        background-image: url(./assets/wkshop\ 1.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        margin: 100px 0;
    }

    #story img {
        display: none;
    }

    .story-content {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 150px 10% 250px;
    }

    .story-block {
        max-width: 900px;
        margin: 0 auto;
    }

    .story-text {
        column-count: 2;
        column-gap: 40px;
    }
}

